
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Shared Style */
.display-flex{
    display: flex;
}

.text-gray{
    color: #424242;
}
.text-lifgt-gray{
    color: #727272;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.15rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

/* Header Style */
.bg-1{
    background-color: rgba(255, 144, 14, 0.1);
}

/* Nav-bar related Style */
.brand{
    font-weight: bold;
    font-size: 2.1rem;
}
.navbar{
    /* display: flex; */
    justify-content: space-between;
    
}

.nav-links{
    /* display: flex;
    gap: 30px; */
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}
.navlink{
    text-decoration: none;
}



.navbar,
.banner{
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}
/* banner Style */
.banner-content{
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 3.5rem;
}
.banner-image{
    width: 100%;
}